language: php

php:
    - 7.1.8
    - 7.2
    - 7.3
    - hhvm

env:
    matrix:
        - COMPOSER_FLAGS="--prefer-lowest"
        - COMPOSER_FLAGS=""

before_script:
    - travis_retry composer self-update
    - travis_retry composer update ${COMPOSER_FLAGS} --no-interaction --prefer-source

script:
    - vendor/bin/phpunit --coverage-text --coverage-clover=coverage.xml

after_script:
    - bash <(curl -s https://codecov.io/bash)
